{% extends "base.html" %} 

{% block content %}
<br>

    <h2>About This Website:</h2>
    <br>

    <ul>
        <li><p><i>Automatic Music Maker</i> 🔊</p></li>
        
        <li><p>Developed to make music making easy and fast. 🎼 </p></li>

        <li><p><strong>Random Melody is an Automatic Music Maker Website </strong> for
        musicians, composers <br>and everyone that loves and are 
        fascinated by music. 🎧 🎤 📻 </p></li>

        <li><p>It provides a MIDI file that contains <strong>chords</strong> 🎶 and <strong>melody</strong> 🎵 , written totally randomly by the program. </p></li>

        <li><p>Written by <a href="{% url 'contact' %}" style="color: inherit;"><i><u>Dvir Alfi</u></i></a> . </p></li>
            
    </ul>
    
{% endblock %}


    <!--background: linear-gradient(35deg, #CCFFFF,#FFCCCC)-->
