{% extends "base.html" %} 

{% block content %}
<h2>Convert MIDI to MP3</h2>
<h3 style="color:red;font-size:70px;">Sorry - Curentlly Not Available !!! </h3>

        <form action="#" style="font-size:30px;">
                        
                        <label for="myfile" style="color:rgb(15, 64, 97);">Convert here your MIDI file to MP3:&nbsp;&nbsp;</label>
                        <input type="file" id="File" name="filename"><br><br>
                        <input type="submit" >
        </form>
        
{% endblock %}

<!--API ZAMZAR:   07f7e023398eed88f97555056482c6ef116ba148 -->
