{% extends "base.html" %} 

{% block content %}
<h2>Convert MIDI to MP3</h2><br>

        <form method="POST" action="{% url 'convertmidi' %}" enctype="multipart/form-data">
                {% csrf_token %}
                        <label for="myfile">Convert here your MIDI file to MP3:

                        </label>

                        <input type="file" id="File" name="midifile">
                        <input type="submit" >
        </form>
        




        {% if file_path %}

               

        {% endif %}
        
{% endblock %}

<!--API ZAMZAR:   07f7e023398eed88f97555056482c6ef116ba148 -->
