{% extends "base.html" %} 

{% block extra_css %}

<script src="https://cdn.jsdelivr.net/combine/npm/tone@
14.7.58,npm/@magenta/music@1.22.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.4.0"></script>

{% endblock  %}


{% block content %}       


     {% if messages %}
     <ul class="messages">
     {% for message in messages %}
     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
     {% endfor %}
     </ul>
     {% endif %}



     {% if file_path %}
          <div class="midi-player-style">
               
               <midi-player  src={{ file_path }} sound-font visualizer="#myPianoRollVisualizer">> </midi-player>
                    <br>

               <midi-visualizer 
               
               type="piano-roll" 
               id="myPianoRollVisualizer" 
               src= {{file_path}} >

               </midi-visualizer>

          </div>
          <br>
     {% endif %}

{% endblock  %}


{% block  filebutton %}


     {% if file_path %}

     <div id="download-button">
               
          <a href= {{file_path}} download class="btn btn-outline-dark btn-lg" role="button" aria-pressed="true"> Download MIDI file 

          </a> 

     </div>

     {% if file_name %}
     <div id="download-button">

          <a href="save_midi_file_for_user/{{file_name}}" class="btn btn-light" role="button" aria-pressed="true"> Save file for downloading later
               
          </a>
          
     </div>
     {%endif%}




     {% endif %}
     <div id="download-button">

          <a href="{% url 'home' %}" class="btn btn-light" role="button" aria-pressed="true"> Generate Again! !
               
          </a>
          
     </div>
     <div id="download-button">
          <a href="{% url 'convertmidi' %}" class="btn btn-light" role="button" aria-pressed="true"> Convert here MIDI to MP3 !
               
          </a>
     </div>
     
          
{% endblock  %}
