{% extends "base.html" %} 
{% load static %}


{% block extra_css %}
        
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/homepage-styles.css' %}">

    
{% endblock %}




{% block filebutton %}
<!--
    <div class="generate-file-button" id="filebutton">
                <a href='/generatemidifile' > Click me to Generate Random Music ! </a> 
    </div>
-->

<div class="django-form"> 

        <form method="POST" action="/generatemidifile" name="random_arg_choices" >
            {% csrf_token %}
            {{ random_arg_choices_form.as_p }}

            
                <div id="generate-button">
                    <button type="submit" class="btn btn-outline-dark btn-lg" >
                        Click me to Generate Random Music
                    </button>
                </div>
               
            
        </form>

    </div>

{% endblock %}


{% block content %} 



    <div class="home-description">

        
        
            <a href="{% url 'about' %}">
            <p id="description1">
            Developed to make music<br>fun, easy, and fast.
            </p>
            </a>


            <a href="{% url 'about' %}">
            <p id="description2">
            <strong>Random Melody</strong> is an Automatic Music Maker Website<br> for
            musicians, composers <br>and everyone who loves music. 
            </p>
            </a>

            <a href="{% url 'about' %}">
            <p id="description3">
            Random Melody provides a MIDI file that contains totally<br> <i>random</i> <br><strong>chords</strong> and <strong>melody.</strong>
            </p>
            </a>
    </div>



   
{% endblock %}


