{% extends "base.html" %} 


{% block content %}  

    {% if files_list%}


        {% for file in files_list%}
            <p>
                {{file}}
                <a href={{file.get_presigned_url}} > Download </a>
            
            
           
                <a href="{% url 'delete_midi_file' file=file.file_name %}"> Delete </a>
            </p>

        {%endfor%}
    
        
    {% else %}

    <p> No Files saved yet. </p>

    {%endif%}

    <p><a href="{% url 'home' %}" ><br>Generate Now! </a></p>

{%endblock%}