asgiref==3.5.1
dj-database-url==0.5.0
Django==4.0.4
django-heroku==0.3.1
gunicorn==20.1.0
MIDIUtil==1.2.1
psycopg2==2.9.3
sqlparse==0.4.2
tzdata==2022.1
whitenoise==6.1.0



#random-melody-generator @ git+https://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@github.com/dviralfi/RandomMelody.git
random-melody-generator @ git+https://$dviralfi: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@github.com/dviralfi/RandomMelody.git