body{
    font-family: 'Roboto', sans-serif;   
    /*background-color: rgba(0,0,0,0.85);*/
    /*background-color: rgb(235, 253, 253);*/
    /*background: linear-gradient(35deg, #CCFFFF,#85a9f7b7) fixed;*/
    /*background: linear-gradient(35deg, #ffffff,#c1d5ff) fixed;*/

    background: white fixed;
    /*background: linear-gradient(60deg, #ddf2ff,#b9cfff) fixed; ORIGINAL */
    margin-left: 30px;

    
}

h1{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-style: italic;
    font-size:50px;
    top: 0;
    color: #212136;
    text-align:center;
    

    
    background-color: white;
    }


h2,h3{
    font-size:35px;
    
    color: #212136;
    text-align: center;
    left:0;
    right: 0;

}

h4, h5, h6{
    font-size:20px;
    margin-left: 25px;
    color: #212136;

}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

h2 > a:hover{
    color: #212136;
}

p{
    font-size: 20px;
    margin-left: 30px;
    color: #212136;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;

}


.clear {
    clear: both; 
    /*
    clear = clears the area of an element space, in the case both - right and left.
    */
    height: 60px; 
    }


footer{

    position: fixed;
    width: 100%;
    margin: 0 auto;  
    left: 0;
    bottom: 0;
    border-bottom: 5px solid #212136;

    padding: 2px;
    
    background-color: #212136;
    color: white;
    text-align: center;
    max-width: 100%;

    transition: 0.8s;
}




nav ul {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    background-color: white;
    margin: 0;
    padding: 0;
    
    /*
    padding: 10px 10px 10px 30px;
    width: 100%;
    margin: 0px;
    */
    
    
}

nav li {

    float: left;
    border-right: 1px solid gray;
    /*
    width: 100%;
    display: inline;
    margin-right: 20px;
    */
}

nav li a {
    display: block;
    color: #E94E75;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600;
  }

nav li a:hover{
    color: #ff0040;
  }

/*
nav ul:hover{
    
    box-shadow: 100px 100px 100px 100px lightblue inset;

}
*/

#site-name{
    font-size: 31px;
}


form{
    display: -ms-inline-flexbox;
    padding: 10px;
    text-align: center;
    top: 30px;
    border: 15px solid #212136;
    border-style:outset;
    color: #ff0040;;
    position: relative;
    width: fit-content;
    margin: auto;
}


  /* On smaller screens, where height is less than 450px, change the width of some classes */
  @media screen and (max-width: 450px) {
    form {width:70%;}
    .generate-file-button{ font-size: 5px;}

    
  }


label{
    
    margin: auto;
}

input{
    margin: auto;
    
}

.generate-file-button{

   
    
    color: #212136;
    font-weight: 600;
    padding: 40px;

    text-align: center;
    bottom: 20%;
    font-size: inherit;
    transition: ease-in-out;
    
}

.generate-file-button:hover{
    
    
    background-color: rgba(#212136,0.7);
    border: none;
    font-size: 30px;
    
    cursor: pointer;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
   
}

hr{
    color: #212136;
}

.logo-images{
    width: 30px;
    height: 30px;
    margin-top:5px;
    transition: width 0.5s, height 0.5s;

}

.logo-images:hover{
    width: 50px;
    height: 50px;

}



#description-header{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: 600;
    font-size:35px;
    text-align:center;
    text-shadow: 2px 1px lightblue;
    color: #212136;
    
}


.oval-button{
    width: fit-content;
    margin: auto;
    background-color: #212136;
    border: none;
    color: white;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    
    border-radius: 50%;
    font-size: 25x;

    cursor: pointer;
    transition: 0.5s;

    margin-bottom: 20px;

}

.oval-button:hover{
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.24),0 10px 10px 0 rgba(0,0,0,0.19);
    font-size: 30px;
}


img {
    opacity: 0.8;
  }
  
img:hover {
    opacity: 1.0;
  }


.django-form>form{
    text-align: left;
    font-weight: bold;
    color: rgb(255, 255, 255);
}


.midi-player-style>midi-player {
    margin: auto ;
    width: 100%;
    left: 0;
    right: 0;
}



.midi-player-style>midi-visualizer  {
    margin: auto ;
    width: 100%;
    left: 0;
    right: 0;
}
